@{
  Layout = "_Layout";
}
@using VendorAndOrderTracker.Models;
<h1>Add a order @Model.VendorName</h1>
string title, string description, int price, string date
<form action="/vendors/@Model.Id/order" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="orderTitle">Order Title</label>
  <input id="orderTitle" name="orderTitle" type="text">
  <br>
  <label for="orderDescription">Order Description</label>
  <input id="orderDescription" name="orderDescription" type="text">
  <br>
  <label for="orderPrice">Order Title</label>
  <input id="orderPrice" name="orderPrice" type="number">
  <br>
  <label for="orderDate">Order Title</label>
  <input id="orderDate" name="orderDate" type="text" placeholder="5-22-2020">
  <button class="btn" type='submit'>Add Order</button>
</form>
